.page-contacts {
    padding: 0 0 100px;
}

.contacts .wrapper {
    padding: 0 10px;
}

.page-contacts .left-column {
    max-width: 650px;
    padding: 225px 0 0 0;
}

.page-contacts-content {
    display: flex;
    flex-direction: column;
    gap: 49px;
    max-width: 620px;
    padding: 0 0 0 31px;
    margin: 65px 0 0 0;
}

.page-content {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

/* Contacts */

.contacts-block {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.contacts-block__link {
    line-height: 1;
    color: #000000;
    text-decoration: none;
}

.contacts-block__link:hover {
    color: #D33710;
}

.contacts-block__link--phone {
    font-size: 32px;
    font-weight: 600;
}

.contacts-block__link--email {
    font-size: 20px;
    font-weight: 400;
}

/* Label */

.contacts-label {
    width: max-content;
    display: flex;
    align-items: center;
    background-color: #F04C23;
    border-radius: 6px;
    padding: 10px 29px 11px 26px;
    gap: 14px;
}

.contacts-label__icon {
    width: 15px;
    height: 20px;
}

.contacts-label__text {
    font-size: 18px;
    color: #ffffff;
}

/* Adresses */
.contacts-detail {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.company-addresses p {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    color: #000000;
    margin: 0;
}

/* Route */

.contacts-route-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 0;
    border: none;
    background-color: #EDF0F7;
    padding: 16px 0;
}

.contacts-route-btn__text {
    font-size: 18px;
    line-height: 1;
    color: #000000;
}

.contacts-route-btn__icon {
    width: 24px;
    height: 24px;
    fill: #000000;
}

.contacts-route-btn:hover .contacts-route-btn__text {
    color: #D33710;
}

.contacts-route-btn:hover .contacts-route-btn__icon{
    fill: #D33710;
}

/* how-to-get-there */

.how-to-get-there {
    max-width: 584px;
    border: 1px solid #C0C5D5;
    border-radius: 6px;
    padding: 27px 30px;
}

.how-to-get-there__title {
    position: relative;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
}

.how-to-get-there__title::before,
.how-to-get-there__title::after {
    position: absolute;
    content: '';
    width: 24px;
    height: 3px;
    background-color: #000000;
    top: 8px;
    right: -7px;
}

.how-to-get-there__title::before {
    transform: rotate(90deg);
    transition: transform 0.3s ease-in-out;
}

.how-to-get-there__title::after{
    transform: rotate(180deg);
}

.how-to-get-there__description {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:  max-height 0.6s ease-out, opacity 0.6s ease-out;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.how-to-get-there__description p {
    font-size: 16px;
    line-height: 20px;
}

.how-to-get-there.js-active .how-to-get-there__title::before {
    transform: rotate(180deg);
}

.how-to-get-there.js-active .how-to-get-there__description {
    opacity: 1;
    transition: opacity 0.6s ease-out, max-height 0.6s ease-out;
    margin: 20px 0 0 0;
}

.how-to-get-there:hover .how-to-get-there__title {
    color: #D33710;
}

/* Social */
.social-list {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-list__social {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background-color: #000000;
}

.social-list__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-list__icon {
    width: 30px;
    height: 30px;
    fill: #ffffff;
}


/* Map */

.contacts-map {
    height: 100%;
    display: flex;
    align-items: center;
}

@media(max-width: 1600px) {
    .contacts .wrapper {
        padding: 0 66px;
    }

    .page-contacts-content {
        max-width: 520px;
        gap: 41px;
    }

    /* Contacts */

    .contacts-block {
        gap: 20px;
    }

    .contacts-block__link--phone {
        font-size: 26px;
    }

    .contacts-block__link--email {
        font-size: 16px;
    }

    /* Label */

    .contacts-label {
        padding: 10px 33px 9px 28px;
        gap: 11px;
    }

    .contacts-label__icon {
        width: 12px;
        height: 16px;
    }

    .contacts-label__text {
        font-size: 14px;
    }

    /* Adresses */
    .contacts-detail {
        gap: 15px;
    }

    .company-addresses p {
        font-size: 12px;
        line-height: 15px;
    }

    .company-addresses p span {
        font-size: 14px;
    }

    /* Route */

    .contacts-route-btn {
        gap: 10px;
        padding: 20px 0;
    }

    .contacts-route-btn__text {
        font-size: 14px;
    }

    .contacts-route-btn__icon {
        width: 16px;
        height: 16px;
    }

    /* how-to-get-there */

    .how-to-get-there {
        padding: 23px 25px;
    }

    .how-to-get-there__title {
        font-size: 16px;
    }

    .how-to-get-there__title::before,
    .how-to-get-there__title::after {
        width: 20px;
        height: 3px;
        top: 5px;
        right: -6px;
    }

    .how-to-get-there__description p {
        font-size: 16px;
        line-height: 20px;
    }
}

@media(max-width: 1280px) {
    .contacts .wrapper {
        padding: 0 54px;
    }

    .page-content {
        gap: 80px;
    }

    /* Contacts */

    .contacts-block {
        gap: 20px;
    }

    .contacts-block__link--phone {
        font-size: 22px;
    }

    .contacts-block__link--email {
        font-size: 14px;
    }

    /* Adresses */
    .contacts-detail {
        gap: 30px;
    }

    .company-addresses p {
        font-size: 10px;
        line-height: 13px;
    }

    .company-addresses p span {
        font-size: 12px;
    }
}

@media(max-width: 1024px) {
    .page-content {
        flex-direction: column;
        gap: 50px;
    }

    .page-contacts .left-column {
        max-width: 100%;
        padding: 120px 0 0 0;
    }

    .page-contacts-content {
        max-width: 100%;
        padding: 0;
        gap: 49px;
    }

    .contacts .wrapper {
        padding: 0 20px;
    }

    /* Contacts */

    .contacts-block {
        gap: 20px;
    }

    .contacts-block__link--phone {
        font-size: 32px;
    }

    .contacts-block__link--email {
        font-size: 22px;
    }

    /* Label */
    .contacts-label__icon {
        width: 15px;
        height: 20px;
    }

    .contacts-label__text {
        font-size: 18px;
    }

    /* Adresses */
    .contacts-detail {
        gap: 16px;
    }

    .company-addresses p {
        font-size: 16px;
        line-height: 20px;
    }

    .company-addresses p span {
        font-size: 16px;
    }

    .contacts-route-btn {
        gap: 10px;
        padding: 22px 0;
    }

    .contacts-route-btn__text {
        font-size: 18px;
    }

    .contacts-route-btn__icon {
        width: 24px;
        height: 24px;
    }

    .how-to-get-there {
        max-width: 100%;
        padding: 25px 29px;
    }

    .how-to-get-there__title {
        font-size: 22px;
    }

    .how-to-get-there__title::before, 
    .how-to-get-there__title::after {
        width: 24px;
        height: 3px;
        top: 11px;
        right: -6px;
    }
}

@media(max-width: 767px) {
    .page-content {
        gap: 30px;
    }

    .page-contacts .left-column {
        padding: 85px 0 0 0;
    }

    .contacts .wrapper {
        padding: 0 10px;
    }

    .page-contacts-content {
        margin: 40px 0 0 0;
        gap: 33px;
    }

    /* Contacts */

    .contacts-block {
        gap: 23px;
    }

    .contacts-block__link--email {
        font-size: 20px;
    }

    .contacts-label {
        padding: 10px 40px 11px 40px;
    }

    .company-addresses {
        margin: -12px 0 0 0;
    }

    .contacts-route-btn {
        margin: 3px 0 0 0;
    }

    .how-to-get-there {
        padding: 28px 29px;
    }

    .how-to-get-there__title {
        font-size: 20px;
    }

    .social-list__social {
        width: 60px;
        height: 60px;
    }
}